/* index.css or App.css */
@import "./node_modules/typeface-open-sans/index.css";

#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}


/* Example: styles.css */
.scrollable-container::-webkit-scrollbar {
  width: 6px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgba(17, 23, 41, 0.679);
  opacity: 0.6;
  transition: opacity 0.2s;
  border-radius: 4px; /* Round over the top and bottom */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: rgba(17, 23, 41, 0.087);
}

